<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../_includes/head %>
</head>
<body>

<div class="authorization">
    <form action="/signin" method="POST" class="auth">
        <div class="row">
            <label class="auth-label" for="userName">Your username</label>
            <input class="auth-field" type="text" name="name" id="userName" />
        </div>
        <div class="row">
            <label class="auth-label" for="password">Password</label>
            <input class="auth-field" type="password" name="password" id="password" />
        </div>
        <input class="sign-in" type="submit" value="Sign in" />
    </form>
</div>

<% include ../_includes/script %>

</body>
</html>