<!DOCTYPE html>
<html lang="en">
<% include ../_includes/head %>
<body>

<% include ../_includes/header %>

<% include main %>

<% include ../_includes/footer %>

<% include products %>

<% include ../_includes/script %>

</body>
</html>