<div class="main wrap">
    <div class="left-side" id="navigation"></div>
    <div class="right-side">
        <div class="view" id="viewDoc">
            <% include ../_includes/sectionGenerate %>
        </div>
    </div>
</div>