<div class="popup">
    <span class="close">&times;</span>
    <div class="popup-title">Products</div>
    <div class="product-list">
        <a href="javascript:void(0)" class="product-item">
            <span class="product-name">Product 1</span>
            <span class="product-data">31 July 2015</span>
        </a>
        <a href="javascript:void(0)" class="product-item">
            <span class="product-name">Product 1</span>
            <span class="product-data">31 July 2015</span>
        </a>
        <a href="javascript:void(0)" class="product-item">
            <span class="product-name">Product 1</span>
            <span class="product-data">31 July 2015</span>
        </a>
        <a href="javascript:void(0)" class="product-item">
            <span class="product-name">Product 1</span>
            <span class="product-data">31 July 2015</span>
        </a>
        <a href="javascript:void(0)" class="product-item">
            <span class="product-name">Product 1</span>
            <span class="product-data">31 July 2015</span>
        </a>
        <a href="javascript:void(0)" class="product-item">
            <span class="product-name">Product 1</span>
            <span class="product-data">31 July 2015</span>
        </a>
    </div>
</div>