<div class="popup">
    <span class="close">&times;</span>
    <div class="popup-title">Products</div>
    <div class="product-list">
        <a href="/redactor" class="product-item">
            <span class="product-name">SiteBuilder</span>
            <span class="product-data">How to install</span>
        </a>
        <a href="/redactor/4" class="product-item">
            <span class="product-name">UI</span>
            <span class="product-data">How to work</span>
        </a>
        <a href="/redactor/5" class="product-item">
            <span class="product-name">CSS/SCSS</span>
            <span class="product-data">How to work</span>
        </a>
        <a href="/redactor/6" class="product-item">
            <span class="product-name">Frontend/JS</span>
            <span class="product-data">How to work</span>
        </a>
        <a href="/redactor/7" class="product-item">
            <span class="product-name">Backend/JS</span>
            <span class="product-data">How to work</span>
        </a>
        <a href="/redactor/8" class="product-item">
            <span class="product-name">Backend/PHP</span>
            <span class="product-data">How to work</span>
        </a>
        <a href="/redactor/9" class="product-item">
            <span class="product-name">DataBase/Mongo</span>
            <span class="product-data">How to work</span>
        </a>
        <a href="/redactor/10" class="product-item">
            <span class="product-name">DataBase/MySQL</span>
            <span class="product-data">How to work</span>
        </a>
    </div>
</div>