<div class="footer">
    <div class="wrap">
        <p class="footer-text">Last update by Alex</p>
        <p class="footer-text">lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet</p>
    </div>
</div>