<head>
    <meta charset="UTF-8">
    <title>Redactor</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/styles.css"/>
    <link rel="stylesheet" href="/styles/redactor.css">
    <link rel="stylesheet" href="/styles/codemirror.css">
    <link rel="stylesheet" href="/styles/theme.css">
    <link rel="stylesheet" href="/styles/taggd.css">
    <link rel="stylesheet" href="/styles/lazyYT.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <script>
        var dataImages = {};
    </script>
</head>