<div class="header cf">
    <div class="wrap cf">
        <a href="#" class="subject">Knowledge</a>

        <div class="btn btn-product">product</div>
        <form action="" class="search" id="search">
            <div class="search-wrap">
                <input class="search-submit" type="submit"/>
                <input class="search-text" id="searchInput" type="text" placeholder="Search..." />
            </div>
        </form>
        <span class="btn btn-accept btn-edit" id="initRedactor"></span>
        <span class="btn btn-cancel" id="cancelRedactor">Cancel</span>
        <a href="#" class="user"><img src="http://placecreature.com/40/40" alt=""/></a>

    </div>
</div>